@{
    ViewBag.Title = "Index";
}


<h2>Welcome to the task</h2>

<!DOCTYPE html>
<html>
<head>
    <title>jQuery Tutorial for Beginners Live Demo</title>
</head>
<body>
    <button id='myButton'>Description</button>
    <p>
       About tasks
</p>
    <div id="promotion">

        </div>
    
    <script>
        $("#myButton").click(function () {
            $("div").slideToggle("slow");
        });
</script>
     
</body>
</html>