@model IEnumerable<MvcRestaurant.Models.Waiter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Number table
        </th>
        <th>
           Write Note
        </th>
         <th>
           Tables View
        </th>
    </tr>

    @foreach (var item in Model)
    { 
      <tr>
          <td>
              @Html.DisplayFor(modelItem => item.Name)
          </td>
          <td>
              @Html.DisplayFor(model => item.Tables.Count)
          </td>
          <td>
               @Html.ActionLink("Write Note", "WriteNote", "Waiters", new { id = item.WaiterId }, null)
          </td>
           <td>
            @Html.ActionLink("Tables View", "TablesView", "Waiters", new { id = item.TableId }, null)
       </td>
      </tr>
      
    }
</table>