@model MvcHangman.Models.GameInfo
@{
    ViewBag.Title = "GameOver";
}

<h2>GameOver</h2>

<section class="hangman-image" >
      <figure>
        <img src="Images/hangman77.png" alt="hangman image">
      </figure>
    </section>