@{
    ViewBag.Title = "Index";
}

<h2>Calculator</h2>


<div class="calculator">
    <p>Calculator</p>
    <div class="results">
        <input id="calcHistory" class="history" />
        <input id="result" class="result" />
    </div>

    <div>
        <input type="button" value="C" id="clear" />
        <input type="button" value="CE" id="clearH" /> 
        <input type="button" value="back" id="back"/>
        <input type="button" value="/" id="divis">
    </div>
    <div>
        <input type="button" value="7" data-type="number" />
        <input type="button" value="8" data-type="number" />
        <input type="button" value="9" data-type="number" />
        <input type="button" value="X" id="multipl">
    </div>
    <div>
        <input type="button" value="4" data-type="number" />
        <input type="button" value="5" data-type="number" />
        <input type="button" value="6" data-type="number" />
        <input type="button" value="-" id="min">
    </div>
    <div>
        <input type="button" value="1" data-type="number" />
        <input type="button" value="2" data-type="number" />
        <input type="button" value="3" data-type="number" />
        <input type="button" value="+" id="add">
    </div>
    <div>
        <input type="button" value="+/-" id ="neg"/>
        <input type="button" value="0" data-type="number" />
        <input type="button" value="." id ="point" />
        <input type="button" value="=" id="equal" />
    </div>
</div>


