@model MvcTask.Models.ListGen

@{
    ViewBag.Title = "Browse";
}

<h2>Browse ListGen: @Model.Name</h2>

<ul>
    @foreach (var task in Model.Tasks)
    {
      <li>
          @task.Priority
      </li>
    }
</ul>
